<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
      cardTitle="Angular"
      cardDescription="Um framework baseado em Javascript e que utiliza o Typescript como linguagem principal, o Angular tem o objetivo de construir aplicações SPAs (Single Page Application) baseada em componentes, melhorando a performance da aplicação web e permitindo o reaproveitamento de código. Este framework tem como vantagem, uma estrututra organizada e bem definida, e o seu sistema de tooling é muito rico, facilitando o trabalho com CLI, HTTP, Router, etc. No entanto, para a construção de projetos simples o Angular não é indicado devido à grande quantidade de arquivos."
      Id="1">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://logospng.org/download/react/logo-react-256.png"
      cardTitle="React"
      Id="2">
    </app-small-card>
    <app-small-card
      photoCover="https://br.vuejs.org/images/logo.png"
      cardTitle="Vue"
      Id="3">
    </app-small-card>
    <app-small-card
      photoCover="https://aurelia.io/styles/images/aurelia-icon.svg"
      cardTitle="Aurelia"
      Id="4">
    </app-small-card>
  </div>
</div>

